@{
	ViewData["Title"] = "Admin Home Page";
}

<div class="p-3 text-center">
	<h2 class="display-4">Hello, Administrator @User.Identity!.Name!</h2>
	<p class="text-bg-secondary">
		This is your administrator area!
		</p>
		
</div>
