<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>@ViewData["Title"] - RoomRentingApp</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="~/css/Pulse.css"/>
	<link rel="stylesheet" href="~/lib/toastr/toastr.min.css"/>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
	<link rel="stylesheet" href="~/RoomRentingApp.styles.css" asp-append-version="true"/>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
	<partial name="_UserMessages" />
	<header>
		<ul class="nav nav-pills nav-fill">
			<li class="nav-item">
				<a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" class="nav-link text-dark" asp-area="Admin" asp-controller="Room" asp-action="All">List All Rooms</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="All">List All Users</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" class="nav-link text-dark" asp-area="Admin" asp-controller="Renter" asp-action="All"> List All Renters</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" class="nav-link text-dark" asp-area="Admin" asp-controller="Landlord" asp-action="All">List All Landlords</a>
			</li>
			<li class="nav-link active">
				<partial name="_LoginPartial"/>
			</li>
		</ul>
		
	</header>

<div class="container">
	<main role="main" class="pb-3">
		@RenderBody()
	</main>
</div>

<style>.footer {
	       position: fixed;
	       left: 0;
	       bottom: 0;
	       width: 100%;}</style>

<footer class="border-bottom footer text-muted" style="background-color:dodgerblue;">
	<div class="container d-flex justify-content-center py-2" style="background-color: rgba(0, 0, 0, 0.2);">
		<a style="color:burlywood"> © 2022 Copyright: </a>
		<a class="text-white"> Room-Renting-App</a>
	</div>
</footer>




<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/toastr/toastr.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
