
@{
	ViewBag.Title = "Add Room";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_HousePartialForm" model="@Model" />


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
